<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "header.html" %}
    <h1>{{crypto['name']}}</h1>
    
    <p>symbol: {{crypto['symbol']}}</p>
    <p>Price in USD: {{crypto['quote']['USD']['price']}}</p>
    <p>7 day % change: {{crypto['quote']['USD']['percent_change_7d']}}</p>
    <p>% Change withn the last 24 hours: {{crypto['quote']['USD']['percent_change_24h']}}</p>
    <p></p>

</body>
</html>